<%- include ('../../partials/head') %>
<%- include ('../../partials/navbar') %>
<div class="container">
    <br>
    <h1>Artigos</h1>
    <br>
    <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            
            <% articles.forEach(article => { %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.slug %></td>
                    <td><%= article.category.title %></td>
                    <td>
                        <form action="/articles/delete" method="post" onsubmit="deletionConfirmation(event, this)" style="display: inline;">
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
            
        </tbody>
    </table>
</div>
<%- include ('../../partials/end') %>
<script>
    function deletionConfirmation (event, form){
        event.preventDefault()
        let decision = confirm("Você realmente deseja deletar esse artigo?") //retorna true or false
        if(decision){
            form.submit();
        }

    }
</script>