<%- include ('partials/head') %>
<%- include ('partials/homenavbar') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2><%= article.title %></h2>
        </div>
        <div class="card-body">
            <p><%- article.body %></p>
        </div>
    </div>
    <br>
</div>
<%- include ('partials/end') %>